pyxnat>=1.4
xnat==0.4.3
pydicom>=2.3.0
papermill>=2.3.3
jupyterlab-git
voila
bqplot
dash
dash-bootstrap-components
panel
hvplot
pyviz-comms<3.0.0
streamlit
jupyter-server-proxy
jhsingle-native-proxy
simpervisor<1
plotlydash-tornado-cmd
bokeh-root-cmd
tciaclient